Repository rathena/rathena, pull requests merged in 2023-08, with the labels that each got.

#7859 Rebalance windhawk 20220608
  db/re/skill_db.yml
  src/map/battle.cpp
  src/map/skill.cpp
Labels: component:core, component:skill, mode:renewal, status:code-review

#7874 Rebalance inquisitor 20220608
  db/re/skill_db.yml
  src/map/battle.cpp
Labels: component:core, component:skill, mode:renewal, status:code-review

#7877 Rebalance/biolo 20220608
  db/re/produce_db.txt
  db/re/skill_db.yml
Labels: component:core, component:skill, mode:renewal, status:code-review

#7847 Bypass drop restriction in map_addflooritem when dropping
  src/map/pc.cpp
Labels: component:core, priority:low, mode:renewal, mode:prerenewal, status:code-review

#7879 Update/rebalance abyss chaser 20220608
  db/re/skill_db.yml
  src/map/battle.cpp
  src/map/skill.cpp
Labels: component:core, component:skill, mode:renewal, status:code-review

#7888 Rebalance elemental master 20220608
  db/re/skill_db.yml
  src/map/battle.cpp
Labels: component:database, component:core, component:skill, mode:renewal, status:code-review

#7889 Rebalance archmage 20220608
  db/re/skill_db.yml
  src/map/battle.cpp
Labels: component:database, component:core, component:skill, mode:renewal, status:code-review

#7891 Rebalance dragon knight 20220608
  db/re/skill_db.yml
  src/map/battle.cpp
  src/map/skill.cpp
  src/map/status.cpp
Labels: component:database, component:core, component:skill, mode:renewal, status:code-review

#7893 Rebalance imperial guard 20220608
  db/re/skill_db.yml
  src/map/battle.cpp
Labels: component:database, component:core, component:skill, mode:renewal, status:code-review

#7868 Quest Merchant with repeated serial number in string.
  npc/pre-re/jobs/1-1/merchant.txt
Labels: component:script, mode:prerenewal, type:bug

#7873 Small changes in spelling and removed duplicated warp portal.
  npc/pre-re/jobs/1-1/swordman.txt
Labels: component:script, mode:prerenewal, type:bug

#7898 Rebalance Troubadour & Trouvere 20220608 (3rd)
  db/re/skill_db.yml
  src/map/battle.cpp
  src/map/skill.cpp
  src/map/skill.hpp
Labels: component:core, component:skill, mode:renewal, status:code-review

#7902 Dont exit the process during a crash
  src/common/core.cpp
Labels: component:core, mode:renewal, mode:prerenewal, status:code-review, type:bug

#7911 Uncommented Illusion investigation - Illusion of twins quest
  db/re/quest_db.yml
Labels: component:script
