Repository rathena/rathena, pull requests merged in 2024-02, with the labels that each got.

#8132 Rebalance Cardinal 20240205
  db/re/skill_db.yml
  src/map/battle.cpp
Labels: component:database, component:skill, mode:renewal, status:code-review

#8134 Rebalance Shadow Cross 20240205
  db/re/skill_db.yml
  db/re/status.yml
  src/map/battle.cpp
  src/map/skill.cpp
Labels: component:database, component:skill, mode:renewal, status:code-review

#8131 Rebalance Arch Mage 20240205
  db/re/skill_db.yml
  src/map/battle.cpp
Labels: component:skill, mode:renewal, status:code-review

#8133 Rebalance Wind Hawk 20240205
  db/re/skill_db.yml
  src/map/battle.cpp
  src/map/skill.cpp
Labels: component:database, component:skill, mode:renewal, status:code-review

#8124 Hateffect minor update
  src/map/script.hpp
  src/map/script_constants.hpp
Labels: component:database, mode:renewal, mode:prerenewal

#8123 Suppressing C4018
  src/login/loginclif.cpp
Labels: component:core, mode:renewal, mode:prerenewal, status:code-review, type:enhancement

#8110 Implemented Dialog Types
  doc/script_commands.txt
  src/map/clif.cpp
  src/map/clif.hpp
  src/map/map.hpp
  src/map/script.cpp
Labels: component:core, mode:renewal, mode:prerenewal, status:code-review, type:bug

#8069 Created a template for packet handling
  src/common/packets.hpp
  src/login/loginclif.cpp
Labels: component:core, mode:renewal, mode:prerenewal, type:maintenance

#8140 Rebalance Troubadour & Trouvere 2024-02-05
  src/map/battle.cpp
Labels: component:database, component:skill, mode:renewal, status:code-review

#8138 Rebalance Biolo 2024-02-05
  src/map/battle.cpp
Labels: component:database, component:skill, mode:renewal, status:code-review

#8139 Rebalance Inquisitor 2024-02-05
  db/re/skill_db.yml
  src/map/battle.cpp
Labels: component:database, component:skill, mode:renewal, status:code-review

#8135 Rebalance Dragon Knight 2024-02-05
  db/re/skill_db.yml
  src/map/battle.cpp
Labels: component:database, component:skill, mode:renewal, status:code-review

#8137 Rebalance Meister 2024-02-05
  db/re/skill_db.yml
  db/re/status.yml
  src/map/battle.cpp
Labels: component:database, component:skill, mode:renewal, status:code-review

#8148 Fix inventory expansion packet versions
  src/map/clif.cpp
  src/map/clif_packetdb.hpp
Labels: component:core, mode:renewal, mode:prerenewal, status:code-review, type:bug

#8145 Fixed a Zeny variable overflow in mails
  src/map/mail.cpp
Labels: component:core, mode:renewal, mode:prerenewal, type:bug

#8085 Resolved a few size_t related warnings
  3rdparty/libconfig/scanner.c
  src/char/char.cpp
  src/common/core.cpp
  src/common/showmsg.cpp
  src/common/socket.cpp
  src/common/strlib.cpp
  src/common/strlib.hpp
  src/common/utilities.cpp
  src/login/login.cpp
  src/map/itemdb.cpp
  src/map/mob.cpp
  src/map/npc.cpp
  src/map/pc.cpp
  src/map/skill.cpp
  src/map/status.cpp
  src/tool/csv2yaml.cpp
  src/tool/csv2yaml.hpp
  src/tool/yaml.hpp
Labels: component:core, mode:renewal, mode:prerenewal, status:code-review, type:maintenance
